<!DOCTYPE html>
<html lang="en">
<head>
<body>
    <form action='/predict' method="post" class="col s12">
      <div class="row">
        <div class="input-field col s4">
            <label for="first_name"><b>Temperature</b></label>
            <br>
          <input placeholder="Temperature in Celsius" name="Ambient Temperature" id="first_name" type="text" class="validate">
        </div>
        <div class="input-field col s4">
          <label for="last_name"><b>Exhaust Vacuum </b></label>
            <br>
          <input id="last_name" name="Exhaust Vacuum" placeholder="Exhaust Vacuum"  type="text" class="validate">
        </div>
        <div class="input-field col s4">
            <label for="_name"><b>Ambient Pressure</b></label>
            <br>
          <input id="_name" name="Ambient Pressure" placeholder="Ambient Pressure" type="text" class="validate">

        </div>

        <div class="input-field col s4">
          <label for="_name"><b>Relative Humidity</b></label>
          <br>
        <input id="_name" name="Relative Humidity" placeholder="Relative Humidity" type="text" class="validate">

      </div>
      <div class="row center">

        <button type="submit" class="btn-large waves-effect waves-light orange">Predict Electrical Energy</button>
    </div>
  </form>
      <br>
        {{pred}}<br>
    </div>
  </div>
    <br><br>
  </div>
  </div>>
  </body>
</html>